name: Build and Upload
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Check out source
        uses: actions/checkout@v2

      - name: Build
        run: go build -v .

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: drifter
